<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form ng-submit="saveTemplate()">
      <div class="form-group">
        <label for="problem">中文例句</label>
        <textarea class="form-control" rows="3" id="problem" ng-model="template.problem" ng-keyup="parse()"></textarea>
      </div>
      <div class="form-group">
        <label for="solution">英文例句</label>
        <textarea class="form-control" rows="3" id="solution" ng-model="template.solution"></textarea>
      </div>
      <eb-variable variable="variable" ng-repeat="variable in template.variables">
      </eb-variable>
      <div class="form-group">
        <label>难度</label>
        <select class="form-control" ng-model="template.level">
          <option value="A1" selected>A1</option>
          <option value="A2">A2</option>
          <option value="B1">B1</option>
          <option value="B2">B2</option>
          <option value="C1">C1</option>
          <option value="C2">C2</option>
        </select>
      </div>
      <div class="form-group">
        <label>教材</label>
        <div class="form-group" ng-repeat="reference in template.references">
          <div class="form-inline">
            <span class="form-control">{{reference.textbook}} {{reference.chapter}}</span>
            <button type="button" class="btn btn-sm btn-danger form-control" ng-click="removeReference(reference)">删除</button>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <select class="form-control" ng-options="reference.textbook + ' ' + reference.chapter for reference in references" ng-model="addedReference">
              <option style="display:none" value="" selected>选择教材</option>
            </select>
            <button type="button" class="btn btn-sm btn-success form-control" ng-click="addReference()">添加</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="grammar-point">语法点</label>
        <!-- <input type="text" id="grammar-point" class="form-control" ng-model="template.grammarPoint"> -->
        <div class="form-group" ng-repeat="grammar in template.grammarPoints track by $index">
          <div class="form-inline">
            <span class="form-control">{{grammar}}</span>
            <button type="button" class="btn btn-sm btn-danger form-control" ng-click="removeGrammarPoint(grammar)">删除</button>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <input type="text" value="" list="grammarpoints" class="form-control" ng-model="addedGrammarPoint" />
            <datalist id="grammarpoints">
              <option value="{{grammar.grammarPoint}}" ng-repeat="grammar in grammars"></option>
            </datalist>
            <button type="button" class="btn btn-sm btn-success form-control" ng-click="addGrammarPoint()">添加</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>主题</label>
        <div class="form-group" ng-repeat="subject in template.subjects">
          <div class="form-inline">
            <span class="form-control">{{subject[0]}} {{subject[1]}}</span>
            <button type="button" class="btn btn-sm btn-danger form-control" ng-click="removeSubject(this)">删除</button>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <select class="form-control" ng-options="subject.title for subject in subjects | filter:isFirstLevel" ng-model="firstLevel">
              <option style="display:none" value="" selected>选择一级主题</option>
            </select>
            <select class="form-control" ng-options="subject.title for subject in subjects | filter:isSecondLevel" ng-model="secondLevel">
              <option style="display:none" value="" selected>选择二级主题</option>
            </select>
            <button type="button" class="btn btn-sm btn-success form-control" ng-click="addSubject(this)">添加</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="Submit" class="btn btn-success form-control">提交</button>
      </div>
    </form>
  </div>
</div>
