<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form ng-submit="saveTemplate()">
      <div class="form-group">
        <label for="problem">中文例句</label>
        <textarea class="form-control" rows="3" id="problem" ng-model="template.problem" ng-keyup="parse()"></textarea>
      </div>
      <div class="form-group">
        <label for="solution">英文例句</label>
        <textarea class="form-control" rows="3" id="solution" ng-model="template.solution"></textarea>
      </div>
      <eb-variable variable="variable" ng-repeat="variable in template.variables">
      </eb-variable>
      <div class="form-group">
        <label>难度</label>
        <select class="form-control" ng-model="template.level">
          <option value="A1" selected>A1</option>
          <option value="A2">A2</option>
          <option value="B1">B1</option>
          <option value="B2">B2</option>
          <option value="C1">C1</option>
          <option value="C2">C2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="grammar-point">语法点</label>
        <input type="text" id="grammar-point" class="form-control" ng-model="template.grammarPoint">
      </div>
      <div class="form-group">
        <label>教材</label>
        <div class="form-group" ng-repeat="reference in template.reference">
          <div class="form-inline">
            <span class="form-control">{{reference.textbook}} {{reference.chapter}}</span>
            <button type="button" class="btn btn-sm btn-danger" ng-click="removeReference(reference)">删除</button>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <select class="form-control" ng-options="reference.textbook for reference in references track by reference._id" ng-model="addedReference">
              <option style="display:none" value="" selected>选择教材</option>
            </select>
            <button type="button" class="btn btn-sm btn-success form-control" ng-click="addReference()">添加教材</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>标签</label>
        <eb-tag tag="tag" tags="template.tags" ng-repeat="tag in template.tags track by $index"></eb-tag>
        <eb-tag tag="" tags="template.tags" new="true"></eb-tag>
      </div>
      <button type="Submit" class="btn btn-success">提交</button>
    </form>
  </div>
</div>
