<div class="form-group">
  <div class="form-inline">
    <input type="text" class="form-control" ng-model="grammar.grammarPoint" placeholder="语法点">
    <button type="button" class="btn btn-sm btn-primary" ng-click="updateGrammarPoint()" ng-hide="new">更新</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="removeGrammarPoint(grammar)" ng-hide="new">删除</button>
    <button type="button" class="btn btn-sm btn-success" ng-click="addGrammarPoint()" ng-show="new">添加</button>
  </div>
</div>
